# Virtual environments
.venv/
.venv/

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo

# Packaging / build
dist/
build/
*.egg-info/

# Editor / OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: test outputs
.coverage
htmlcov/
